/*
 * This sheet stylizes index.html.
 * Author: Justin Nichols
 * Class: CSC337
 */

h1 {
  padding: 10px;
}

form {
  margin: 25px 10px;
}

label {
  display: inline-block;
  width: 130px;
}

.in-field {
  padding: 10px;
}
